a, 
a:visited
a:hover {
  color: #e2574c;
  text-decoration: none;
  
  font-size: 1rem;
  text-align: center;
}
a.sale.dept.flex-item{
  color: white;
  font-size: 1.5em;
  font-family: Raleway-bold;
  font-weight: 200;
  left: 50%;
  margin: 0px;
  
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  top: 50%;
}
a.bags.dept.flex-item{
  color: white;
  font-size: 1.5em;
  font-family: Raleway-bold;
  font-weight: 200;
  left: 50%;
  margin: 0px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  top: 50%;
}
a.women.dept.flex-item{
  color: white;
  font-size: 1.5em;
  font-family: Raleway-bold;
  font-weight: 200;
  left: 50%;
  margin: 0px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  top: 50%;
}
a.men.dept.flex-item{
  color: white;
  font-size: 1.5em;
  font-family: Raleway-bold;
  font-weight: 200;
  left: 50%;
  margin: 0px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  top: 50%;
}
a.trends.dept.flex-item{
  color: white;
  font-size: 1.5em;
  font-family: Raleway-bold;
  font-weight: 200;
  left: 50%;
  margin: 0px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  top: 50%;
}
a.glasses.dept.flex-item{
  color: white;
  font-size: 1.5em;
  font-family: Raleway-bold;
  font-weight: 200;
  left: 50%;
  margin: 0px;
  padding: 10px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  top: 50%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  /* width: 30%; */
}
.product.carousel-cell p{
  color: #969696;
}

p {
  text-align: center;
  font-size: 0.8em;
  margin: auto
}
h1 {
  text-align: center;
  font-size: 30%;
}

h2 {
  font-family: 'Playfair Display-italic';
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
}

strong {
  font-family: 'Playfair Display-bold';
  font-weight: 500;
}

h3 {
  font-size: 1em;
  font-weight: 600;
  color: #969696;
  text-transform: uppercase
}
h4 {
  font-family: "Playfair-Display", serif;
  font-weight: normal;
  font-size: 1.25rem;
  letter-spacing: 0.25px;
  margin: 0;
  color: #e2574c;
}
.box-container {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  z-index: 3;
  }
.box-container p {
  font-size: 1.1em;
  line-height: 2;
  margin-top: em;
  margin-bottom: 60px;
}

  ul {
    list-style-type: none;
}
.box-container h2 {
  font-family: 'Playfair Display-bold';
  font-size: 2.5em;
  margin-bottom: 0;
  width: 100%;
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Playfair Display", serif;
  line-height: 1.5;
}

.contact li:nth-child(3) {
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact a {
  text-decoration: underline;
}

.contact {
  text-align: left;
}

.main-nav-wrapper {
  /* display: flex;  */
  -webkit-box-shadow: 2px 2px 2px 2px rgba(100, 100, 100, .5);
	-moz-box-shadow: 2px 2px 2px 2px rgba(100, 100, 100, .5);
	box-shadow: 2px 2px 2px 0px rgba(100, 100, 100, .5);
}
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-links {
  display: flex;
  font-size: 13px;
  font-family: 'Raleway-bold', sans-serif;
  font-weight: 200;
  padding: 10px;
  text-transform: uppercase;
  }
  
.nav-links li {
  /* display: inline-block; */
  
}

.aloha-logo {
  width: 30%; 
  min-width: auto; 
  align-items: center;
  height: 50px;
  justify-content: flex-start;
  margin: 10px;
  display: -webkit-box;
}
 .shopping-cart{
  /* width: 20%; 
  min-width: 50px;  */
  display: flex;
  flex-direction: row-reverse;
  order: 2;
  width: 50%;
 }

.main-carousel {

}

.banner {
    width: 100%;
    height: 400px;
    background:
    linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
        url(../images/banner-girl.png),
        url(../images/flower-bkgd.jpg);

       
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat;
    background-position: top;
    background-size:
       cover, 25vw, cover;
       color: white;
       font-size: 10em;
       display: flex;
       align-items: center;
       justify-content: center;
   
  }
.banner p {
  font-family: 'Raleway-bold', sans-serif;
  flex-basis: 100%;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 0;
}
.banner h1 {
  flex-basis: 76%;
  font-size: 50px;
  font-weight: 300;
  line-height: 0.9;
  margin: 0px;
  z-index: 0;
}

.wave {
  width: 100%;
  height: 240px;
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
  url(../images/wave-bkgd.jpg);
  background-repeat:
  no-repeat,
  no-repeat,
  no-repeat;
	background-position:
  center,
  bottom center;
  color: white;
  text-align: center;
  align-items: center;
  background-size:
  cover, 100vw, cover;
  flex-direction: column;
  display: flex;
  padding: 30px;

}
.wave p {
  font-size: 15px;
}
.wave h2 {
  font-size: 2.5em;
  font-family: 'Playfair Display-italic';
  font-weight: 300;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.text1 p {
  text-align: center; 
 
}

.product {
  text-align: center;
  width: 100%;
}

form {
  background-color: #fff;
  padding: 5px;
  border-radius: 50px;
  width: 75%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

input {
  background-color: white;
  border: 0;
  margin-left: 16px;
  text-align: left;
  color: #969696;
 
}

button{
  font-family: 'Raleway';
  background-color: #e2574c;
  border-radius: 49px;
  color: #fff;
  padding: 8px 15px;
  border: 0;
}


/*   Footer */ 
footer {
  align-content: center;
  background-color: #242424;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
}
footer a {
  color: #fff;
}
.footer li {
  display: block;
  justify-content: left;
  padding: 0;
  text-align: left;
}
.social {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  margin-top: 16px;
}
.social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.grey {
  opacity: 0.5;
}

.flickity {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 600px){
  .nav-links {
    order: 3;
  }
  .aloha-logo {
    width: 100%;
  }
  .shopping-cart {
    order: 2;
  }

}

@media (min-width: 720px){
  .carousel-cell{
    height: 302px;
    }
}

@media all and (min-width: 1240px) {
  
      nav ul {
        top: 50px;
      }
  
      .product {
        width: 25%;
      }
  
      .updates {
        background-size: cover;
      }
  
    }

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 0px;
}

	@media all and (min-width: 600px) {
        body{
          font-size: 16px;
        }
    
        nav {
          padding-bottom: 20px;
        }
    
        nav ul {
          width: auto;
          padding: 0;
          border-top: 0;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
        }
    
        nav li {
        padding: 0 10px;
      }
        .carticon {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
        }
    
        .product {
          width: 50%;
        }
          .box-container p{
            font-size: 1.11em;
            padding-bottom: 10px;
          }
.shopping-cart{
  order: 3;
  padding: 8px;
  padding-right: 0px;
  width: 5%;
  display: -webkit-box;
}
.banner-text h2 {
  font-size: 3em;
}
.foot{
  flex-direction: column;
  align-content: space-around;
  height: 200px;
  /* padding: 50px 0px; */
}
.men{
  flex-basis: 50%;
  padding-top: calc(.25 * 100vw);
}
.trends {
  flex-basis: 25%;
  padding-top: calc(.25 * 100vw);
}

.glasses{
  flex-basis: 25%;
  padding-top: calc(.25 * 100vw);
}
.sale{
  flex-basis: 25%;
  padding-top: calc(.25 * 100vw);
}
.bags{
  flex-basis: 25%;
  padding-top: calc(.25 * 100vw);
}
.women{
  flex-basis: 50%;
  padding-top: calc(.25 * 100vw);
}
    /* END */

        }
/* FLEXBOX */

.shop-box{
  /* display: flex; */
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}
#dept 
	.men {
		background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
      url('images/mens-category.jpg');
      background-position: right, bottom;
      background-repeat: no-repeat;
      background-size: cover;
       border-bottom: 4px solid white; 
		}
		
	.trends {
		background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
      url('images/trends-category.jpg');
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom: 4px solid white;
      border-right: 4px solid white;
      border-top: 4px solid white; 
      margin: 0px; 
		}
		
	.glasses {
		background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
      url('images/glasses-category.jpg');
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: cover;
       border-bottom: 4px solid white;
      border-left: 4px solid white;
      border-top: 4px solid white;
      margin: 0px; 
		}
		
	.sale {
		background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
      url('images/sale-category.jpg');
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom: 4px solid white;
      border-right: 4px solid white;
      border-top: 4px solid white;
      margin: 0px; 
		}
		
	.bags {
		background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
      url('images/bags-category.jpg');
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: cover;
       border-bottom: 4px solid white;
      border-left: 4px solid white;
      border-top: 4px solid white;
      margin: 0px; 
		}
		
	.women {
		background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
      url('images/womens-category.jpg');
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: cover;
       border-top: 4px solid white; 
	}
/* end of flexbox*/

@media all and (min-width: 600px) {
  .men {
      flex-basis: 50%;
      padding-top: calc(.25 * 100vw);
  }
  .trends {
      /* border-top: 0px solid white;
      border-left: 4px solid white;
      border-right: 0px solid white;  */
      flex-basis: 25%;
      padding-top: calc(.25 * 100vw);       
  }
  
  .glasses{
    flex-basis: 25%;
    padding-top: calc(.25 * 50vw);
  }
  .main-navigation{
    align-content: center;
    flex-wrap: nowrap;
  }
  .sale{
    border-top: 0px solid white;
    border-left: 4px solid white;
    border-right: 0px solid white;  
      
  }
    .bags{
      border-top: 0px solid white;
      border-left: 4px solid white;
      border-right: 0px solid white;  
    
    }
    .women{
      flex-basis: 49%;
      padding-top: calc(.25 * 50vw);
    }
.men {
    border-right: 4px solid white;
    text-transform: uppercase;

    /* Reference Important */
    flex: 1 1 50%;
  }
    
  }
